{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>



        body{

           background:#fcfcfc;
         }

        img{
          
          width : 200px;

        }


          #backgroundDiv{
          
          position: absolute;

          top: 3vh;

          width: 100vw;


          display: flex;

          justify-content: center;

          align-items: start;

          z-index: 9;
        }


        #paymentBox{

          background: white;

          box-shadow: 10px 10px 10px rgba(0, 1, 1, 0.28);

          width:25%; 
          height:40%; 
          
          margin-left: 1vw;

          display: flex;

          flex-direction: column;

          align-items: center;

          justify-content: space-around;
          
          z-index: 11;


        }

        #paymentBox div{

          width: 80%;


        }

          #amountToPay{

          height: 40%;
          width:100%;


        }


        #paymentButton{

          height: 100%;

          width: 100%;
        }





#trashLogo{
  position:fixed; 
  left: 3vw; 
  top: 70vh;
  z-index:11;
}


#selectedImgsDiv{
  width:38%; 
  height:100%; 
  margin-right: 12vw; 
  display:flex;
  flex-direction:column; 
  border-radius: 10px; 
  box-shadow: 10px 10px 10px rgba(0, 1, 1, 0.28); 
  background: white;
}

#backArrow{

  position: fixed; 
  top: 15vh; 
  left: 3vw;
  z-index:11;


}
    
          
  #emptyCartDiv{
            
     display: flex;

     flex-direction: column;

     justify-content: center;

     align-items: center;

      height: 55vh;
  }

 #emptyCartHeader{

      width: 30%;

      display: flex;

      justify-content: flex-start;
   }

   h5{
     margin-left: 2.5%;
   }


@media all and (max-width: 800px){

   #backgroundDiv {
     position: absolute;
     top: 50vh;
     width: 100vw;
     display: flex;
     justify-content: center;
     align-items: start;
   }

   

#trashLogo{
  position:absolute; 
  left: 6vw; 
  top: 40vh;
}


  #selectedImgsDiv{

    margin-right: 0; 
    width:90%;

  }

#paymentBox{
  width:75%;
}


#backArrow{

  position: relative; 
  top:7.5vh; 
  left: 5vw;

}


#emptyCartHeader{

  width: 80%;
 
 }


 p{

   padding: 2.5%;
 }

    h5{
     margin-left: 0;
   }



}   




</style>


     
  {% if eventSeen != null %} 



     <div id='backArrow'>
          <a href = ' {{ path("showOneEventPath", { 'eventId' : eventSeen }) }}'><i class="fas fa-2x fa-arrow-circle-left"></i></a>
     </div>
          
     

     {% endif %}



     {% if cart != null%}

     

         <div id='trashLogo'>

          <a href = '{{ path("clearCartPath") }}'><i class="fas fa-2x fa-trash-alt"></i></a>
         
         </div>

     
        <div id='paymentBox'; style='position: fixed; top:13vh; right: 8vw;'>

           <div id='paymentTitle' style='width: 80%; height: 50px; border-bottom: 1px solid'>

           <h4>TOTAL</h4>

         </div>
                  
          <div id='amountToPay' style='display:flex; flex-direction: row; justify-content: space-between'>
                  
                <div >A régler: </div>

                <div style='padding-left: 90px'>15 euros</div>
                                        
          </div>        

          <div>
              <a href='{{path("paymentPagePath") }}'><button class='btn btn-danger' id='paymentButton'>Acheter</button></a>
              </div>
          </div>
           
                    
          </div>
     
          <div id='backgroundDiv'>

             <div id='selectedImgsDiv'>

                   <div style='background: white; width: 100%; height: 30px;  border-bottom-width:10vw%; display: flex; justify-content: space-between; '> 
                         <div>
                         <p style='font-size: 20px'>Voici votre panier</p>
                        </div>

                        <div >
                            <p style='font-size: 11px'>Ce panier sera supprimé dans 60 minutes <i class="far fa-clock"></i></p>

                        </div>
                            
                            
                      </div>                 
                  
                 
                    
                       {%for image in cart %}

                         {%if image.assetSrc is defined %}

            
                        
                     <div style='background: white; width:100%; padding: 10px; display:flex; flex-direction: row; align-items: center; justify-content: space-between; '>
                     
                         <img src="{{ asset(image.assetSrc) }}" alt="myflag">

                          <i style='color:green' class="fas fa-check"></i>
                    </div>  
                            
                            {%endif%}

                        {%endfor%} 
                    
                    
                    
                    
             
             </div>


            


             {%for image in cart %}

              {%if image.assetSrc is defined %}
             





             {%else%} 

             <h2 style='color:red'>Certains article ne peuvent pas être affiché, car ils ont sûrement été retirés de la vente par l'administrateur, veuillez s'il vous plait vider votre panier, et renouveler l'opération.</h2>





              {%endif%}
              {%endfor%}


              <br><br>

            



      {% else %}

      
        <div id = 'emptyCartDiv'>
           <div id= 'emptyCartHeader' >
              <i style= 'margin-right: 1%' class="fas fa-2x fa-shopping-cart"></i>
              <h5>Vous n'avez selectionné aucune photo</h5>
            </div>

            <p> Afin d'ajouter des photos, veuillez vous rendre sur un évènement, et séléctionner une ou plusieurs images.</p>
        </div>

 
      {% endif %}


      


{% endblock %}


