{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
        img{
          
          width : 200px;

        }


          #backgroundDiv{
          
          position: absolute;

          top: 3vh;

          width: 100vw;


          display: flex;

          justify-content: center;

          align-items: start;
        }


        #paymentBox{

          border: 0.5px solid;


          width:25%; 
          height:40%; 
          
          margin-left: 1vw;

          display: flex;

          flex-direction: column;

          align-items: center;

          justify-content: space-around;


        }

        #paymentBox div{

          width: 80%;


        }

          #amountToPay{

          height: 40%;
          width:100%;


        }


        #paymentButton{

          height: 100%;

          width: 100%;
        }

      

</style>




     {% if cart != null%}

     
     
          <div id='backgroundDiv'>

             <div style='width:38%; height:100%; margin-right: 12vw; display:flex;flex-direction:column; border: solid 1px;'>

                   <div style='background: white; width: 100%; height: 30px; border-bottom: 0.1px solid; border-bottom-width:10vw%; display: flex; justify-content: space-between;'> 
                         <div>
                            <h5>Voici votre panier</h5>
                        </div>

                        <div >
                            <p style='font-size: 12px'>Vos articles seront disposibles pendant 60 minutes</p>

                        </div>
                            
                            
                      </div>                 
                  
                 
                    
                       {%for image in cart %}

                         {%if image.assetSrc is defined %}

            
                        
                     <div style='background: white; width:100%; padding: 10px; display:flex; flex-direction: row; align-items: center; justify-content: space-between; border-bottom: 0.5px solid'>
                     
                         <img src="{{ asset(image.assetSrc) }}" alt="myflag">

                          <i style='color:green' class="fas fa-check"></i>
                    </div>  
                            
                            {%endif%}

                        {%endfor%} 
                    
                    
                    
                    
             
             </div>


        <div id='paymentBox'; style='position: fixed; top:13vh; right: 8vw;'>

           <div id='paymentTitle' style='width: 80%; height: 50px; border-bottom: 1.5px solid'>

           <h4>TOTAL</h4>

         </div>
                  
          <div id='amountToPay' style='display:flex; flex-direction: row; justify-content: space-between'>
                  
                <div >A régler: </div>

                <div style='padding-left: 90px'>15 euros</div>
                                        
          </div>        

          <div>
              <a href='{{path("paymentPagePath") }}'><button class='btn btn-danger' id='paymentButton'>Payer</button></a>
              </div>
          </div>
           
                    
          </div>

         <div style='position:fixed; left: 3vw; top: 70vh'>

          <a href = '{{ path("clearCartPath") }}'><i class="fas fa-2x fa-trash-alt"></i></a>
         
         </div>
            


             {%for image in cart %}

              {%if image.assetSrc is defined %}
             





             {%else%} 

             <h2 style='color:red'>Certains article ne peuvent pas être affiché, car ils ont sûrement été retirés de la vente par l'administrateur, veuillez s'il vous plait vider votre panier, et renouveler l'opération.</h2>





              {%endif%}
              {%endfor%}


              <br><br>

            



      {% else %}

        <style>
        

    
          
          #emptyCartDiv{
            
               display: flex;

               flex-direction: column;

               justify-content: center;

               align-items: center;

               height: 55vh;
          }

          #emptyCartHeader{

            width: 30%;

            display: flex;

            justify-content: space-between;
          }

        </style>
        
        

        <div id = 'emptyCartDiv'>
           <div id= 'emptyCartHeader' >
              <i style= 'margin-right: 1%' class="fas fa-2x fa-shopping-cart"></i>
              <h5>Vous n'avez selectionné aucune photo</h5>
            </div>

            <p> Afin d'ajouter des photos, veuillez vous rendre sur un évènement, et séléctionner une ou plusieurs images.</p>
        </div>

 
      {% endif %}


      

     
     {% if eventSeen != null %} 



     <div style='position: fixed; top: 15vh; left: 3vw'>
          <a href = ' {{ path("showOneEventPath", { 'eventId' : eventSeen }) }}'><i class="fas fa-2x fa-arrow-circle-left"></i></a>
     </div>
          
     

     {% endif %}


{% endblock %}


