{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}

<style>

</style>

<h1>Merci d'avoir téléchargé vos photos chez nous!!!

Voici vos photos</h1>






{% endblock %}
