{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    
    body{
      color: white;
    }
    #backgroundDiv{

      height: 90vh;

      width: 100vw;

      display: flex;

      justify-content: center;

      padding-top: 15vh;



    }

    #formDiv{
      
      height: 350px;
      width: 300px;

      background: blue;

      display:flex;

      flex-direction: column;
      justify-content: space-around;

      align-items: center;


    }

    #myForm{

      display: flex;
       flex-direction: column;

       width: 90%;
       
    }

    input{
      
      padding-left: 10px;

      border-radius: 20px;

      outline: none;
    }


    #submitButton{

      width: 100%;
    }
</style>

  <div id='backgroundDiv'>

     <div id='formDiv'>

       <div>
         
         <h5>Créez un évènement</h5>

       </div>



       <form  id = 'myForm' method='post'>

                    <label>Nom de l'évenement</label>


         <input id='eventName' type = 'text' name = 'eventName'  onkeyup= 'initErrorMsg()'>
       
       </br>

         <label>Code de l'évènement</label>

          <input id='eventCode' type='text' name='eventCode'  onkeyup= 'initErrorMsg()' >

        </br>

          <button id='submitButton' class='btn btn-info' type='submit' name='createEvent' onclick='checkNewEvent(event)'>créer un évènement</button>

       </form>
    </div>
  </div>


 <div id='nameErrorMsg' style='color:red'></div>

 <div id='codeErrorMsg' style='color:red'></div>


{% endblock %}



{%block javascripts%}


<script>



var eventCode = document.getElementById('eventCode');

var eventName = document.getElementById('eventName');

var myForm = document.getElementById('myForm');

var nameErrorMsg = document.getElementById('nameErrorMsg');

var codeErrorMsg = document.getElementById('codeErrorMsg');






function checkNewEvent(event){

   event.preventDefault();

   if(eventName == em)          

           
    xrq = new XMLHttpRequest();

    xrq.onload = function(){

     var nameValidity = JSON.parse(this.responseText).validName;


    var codeValidity = JSON.parse(this.responseText).validCode;


   console.log("name :" + JSON.parse(this.responseText).validName);

      console.log("code: " + JSON.parse(this.responseText).validCode);




    if( (nameValidity == true) && (codeValidity == true) ){
            myForm.submit();

    }

    if(nameValidity == false){

        console.log('name false');

        nameErrorMsg.innerHTML = 'Vous avez déjà attribué ce nom à un autre évènement';


    }
    
    if (codeValidity == false){
      
        console.log('code false');

        codeErrorMsg.innerHTML = 'Vous avez déjà attribué ce code à un autre évènement';


    }
  }

  xrq.open('POST', '{{ path("checkValidityOfEventPath") }}',true);

  xrq.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');


   xrq.send("eventCode=" + eventCode.value + '&eventName=' + eventName.value);

}



function initErrorMsg(){

  codeErrorMsg.innerHTML = '';
  nameErrorMsg.innerHTML = '';
}


</script>

{%endblock%}
