{% extends 'base.html.twig' %}

{% block title %}Erreur paiement!!{% endblock %}

{% block body %}
<style>

</style>

<h1>Malheuresement, la transaction n'a pas pu être réalisée</h1>


<h2>{{error}}</h2>

{% endblock %}
