{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

   <h1>{{event.name}}</h1>


   </br>
   </br>
   </br>


    {% for image in images %}  

    <img src = '{{ image.src }}'> </br>

    <button value= {{ image.id}} onclick='addImgToCart(event)'>add image to cart </button>

    </br>

    {% endfor %}


   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>


   <form method='post' enctype='multipart/form-data'>
     
     <input type='file' name ='imgFile'>
     
     </br>
     </br>

     <input type='submit' name='addImages' value='ajouter une image'>

   </form>

{% endblock %}

{% block javascripts %}

   <script>



      function addImgToCart(event){
        
        var imageId = event.target.value;

        xrq = new XMLHttpRequest();

        xrq.onload = function(){

          alert('ok');
        }

        xrq.open('GET', '{{ path("addImgToCartPath", { "imageId" : 3 }) }}', true);

        xrq.send();


      }

   </script>
{% endblock %}
