{% extends 'base.html.twig' %}

{% block title %}Trouvez votre évènement{% endblock %}

   {% block stylesheets %}

            
   body{
        background-image: url('{{ asset("assets/img/camera.jpg") }}');
        background-size: cover;
        background-repeat: no-repeat;

        

    }
         


         
             
             
             {% endblock %}


{% block body %}

          


{% if app.user %}

<h1 style='margin-left: 5vw; color:white'>Bienvenue dans l'espace de gestion de BelleImage</h1>
{%else%}

<div style=' margin-left: 20px;' >
<h1 style='color:white'>Trouvez votre évènement</h1>

<p style='color:white'>Saisissez le code fourni par le créateur de l'évènement que vous cherchez</p>


   <form id='myForm' method='post' action='{{ path("searchEventPath")}}'>
 
      <input style='outline:none' id='eventCode' type='text' name='eventCode' placeholder='Saisissez un code' onkeyup='initErrorMsg()'>

      <input onclick='checkEvent(event)' type='submit' name='voir l'évènement' value='voir'>

  </form>

 <span id='errorMsg' style ='color:red'></span>

</div>

<br>



{%endif%}




{% endblock %}


{%block javascripts %}

<script>

var myForm = document.getElementById('myForm');
var errorMsg = document.getElementById('errorMsg');
var eventCode = document.getElementById('eventCode');


function checkEvent(event){

     event.preventDefault();

     xrq = new XMLHttpRequest();

     xrq.onload = function(){

          if( JSON.parse(this.responseText).validCode == false){

               errorMsg.innerHTML = 'Evenement non trouvé, vous avez peut être mal ortographié le code. </br>Vous avez oublié le code? Merci de nous contacter par message, nous vous répondrons dans les plus brefs délais';

          } else if (JSON.parse(this.responseText).validCode == true){
               
               myForm.submit();

          }


     }

     xrq.open('POST', '{{ path("doesEventExistPath") }}' ,true);

     xrq.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

     xrq.send('checkedCode=' + eventCode.value );


}


function initErrorMsg(){
   
   errorMsg.innerHTML = " ";


}



</script>
{%endblock%}