{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    
</style>




<a href= ' {{ path("newEventPath")}}'><button>Créer un évènement</button></a>

<button>Voir mes évènements</button>



</div>
{% endblock %}
