{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    
</style>




<button>Créer un évènement</button>

<button>Voir mes évènements</button>



</div>
{% endblock %}
