{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    
</style>





<form method='post' action='{{ path('security_login')}}'>

<label>Mail</label></br>

<input type='text' class='form-control' required name='_username'></br>

<label>Mot de passe</label></br>

<input type='text' class='form-control' placeholder='Mot de passe' required name='_password'></br>

<button type='submit'>Connexion</button>
</form>



</div>
{% endblock %}
