{% extends 'base.html.twig' %}

{% block title %}Hello TicketController!{% endblock %}

{% block body %}
<style>
</style>


 {%block messagebox%}
 {%endblock%}

<div>
   <h1>Nous avons bien recus votre message!!</h1>
</div>
{% endblock %}
